<% obj.each do |article| %>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="well well-lg">
            <%= react_component('Article', { 
                description:  truncate(article.description, escape: false, length: 100),
                path:         article_path(article),
                title:        article.title,
                username:     article.user,
                created_at:   article.created_at,
                updated_at:   article.updated_at
                }) %>
            
            <% if article.categories.any? %>
                <p>Categories: <%= render article.categories %></p>
            <% end %>
            <div class="article-actions">
                <%= link_to "Read this article", article_path(article), class:"btn btn-sm btn-info" %>
                <% if logged_in? && (current_user == article.user || current_user.admin?) %>
                    <%= link_to "Edit", edit_article_path(article),
                    class:"btn btn-sm btn-primary" %>
                   <%= link_to "Delete", article_path(article),
                    method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
                <% end %>
            </div>

        </div>
    </div>
</div>
<% end %>
